@import '../../CommonStyles.module.scss';

.createAccount {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.875rem;
	font-weight: 400;

	.btnCreateAccount {
		width: 6.1875rem;
		height: 2.75rem;
	}
}