@import '../../../CommonStyles.module.scss';

.wrapper {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid rgba(31, 32, 65, 0.1);
	width: 100%;
	padding: 0 1.5rem .7rem .3rem;

	.icon {
		font-family: Material Icons;
		font-size: 3rem;
		margin-right: .1em;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	}

	.body {
		font-size: 0.875rem;
		line-height: 1.5em;
		padding: .2em 0 0 0;
		color: $DarkShade75;

		.title {
			font-weight: 700;
		}

		.text {
			font-weight: 400;
		}
	}
}