@import '../../../CommonStyles.module.scss';

.bulletList {
	@extend %fontPropBody;
	color: $DarkShade75;
	list-style-position: inside;

	&>* {
		margin-bottom: .9em;
		line-height: 1.4rem;
		display: flex;
		align-items: start;
	}
	
	.ellipseImg {
		padding-top: .4rem;
		margin-right: .6rem;
	}
}