@import '../../../CommonStyles.module.scss';

.wrapper {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	align-items: center;
	width: fit-content;

	.checkbox {
		position: relative;
		display: inline-block;
		min-width: 2.5em;
		height: 1.25em;
		margin: 0 .5em 0 0;

		& input {
			display: none;

			&:checked+.slider {
				border: 0.0625em solid #BC9CFF;
			}

			&:checked+.slider:before {
				transform: translateX(1.25em);
				background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

			}
		}

		.slider {
			border: 0.0625em solid $DarkShade25;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(255, 255, 255, 0);
			transition: .4s;
			border-radius: 1em;

			&:before {
				position: absolute;
				content: "";
				height: 0.85em;
				width: 0.85em;
				left: 0.125em;
				bottom: 0.125em;
				background: linear-gradient($DarkShade25, $DarkShade25);
				transition: .4s;
				border-radius: 1em;
			}
		}
	}

	.name {
		@extend %fontPropBody;
	}
}