@import '../../CommonStyles.module.scss';

%this_props {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	margin-bottom: 1.25rem;
}

.fullName {
	height: 8.25rem;
	@extend %this_props;
	margin-bottom: 1.2225rem;

	.radio_btn {
		width: 13.8rem;
	}
}

.Data {
	height: 14.5rem;
	@extend %this_props;


	.loginData {
		height: 9.25rem;
		@extend %this_props;

	}
}

.footer_registration {
	@extend %this_props;
	height: 8.5rem;
	padding: 1rem 0 0 0;

	.log_in {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.text {
			font-size: 0.875rem;
			color: #000;
		}
	}
}