@import '../../../CommonStyles.module.scss';

.columns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;

	.column {
		display: flex;
		flex-direction: column;
		padding: 2rem 0 0 0;

		&>*{
			margin-bottom: 1rem;
		}

		.pick_up_room {
			width: 23.75rem;
			height: 23.375rem;
		}

		.account_registration {
			width: 23.75rem;
			height: 40.375rem;
		}

		.FormReservation {
			width: 23.75rem;
			height: 32rem;
		}

		.Login {
			width: 23.75rem;
			height: 22.375rem;
		}
	}
}