@import '../../../CommonStyles.module.scss';

.wrapper {
	position: relative;

	.header {
		width: 16.625rem;
		height: 2.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			text-transform: uppercase;
			@extend %fontPropH3;
			color: $DarkShade100;
		}
	}

	.NoneList {
		display: none;
	}

	.List {
		padding: .5rem 0 0 0;
		position: absolute;
		top: 2.75rem;
		right: 0;
		left: 0;
		z-index: 2;
		background: #fff;

		&>* {
			margin-bottom: .7em;
		}

	}

}