@import '../../CommonStyles.module.scss';

.wrapper {

	.header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid $DarkShade25;
		border-radius: 4px 4px 0 0;
		height: 2.75rem;

		.value {
			width: 100%;
			@extend %fontPropBody;
			color: $DarkShade75;
			display: flex;
			flex-direction: row;
			padding: 0 0 0 0.6rem;

			.valueQtyBedroom,
			.valueQtyBed {
				width: 1rem;
				text-align: center;
			}
		}

		.BtnToggleList {
			height: 100%;
			width: 2.7rem;
			padding: 0 5px 0 0;
		}

		&_borderDarkShade50 {
			border: 1px solid $DarkShade50;
		}
	}

	.showList {
		border: 1px solid $DarkShade50;
		border-top: none;
		border-radius: 0 0 4px 4px;
		padding: 0.4375rem 0.390rem 0 0.9375rem;

		&>* {
			margin-bottom: 0.4375rem;
		}
	}

	.hideList {
		display: none;
	}
}