@import '../../../CommonStyles.module.scss';

.labelInp {
	display: flex;
	flex-direction: column;

	.input {
		width: 20rem;
		height: 2.75rem;
		padding: 0 0 0 1rem;
		font-family: inherit;
		font-weight: 400;
		color: $DarkShade75;
		border-radius: .3rem;
		border: 1px solid $DarkShade25;

		&::placeholder {
			color: $DarkShade25;
		}

		&:hover {
			border: 1px solid $DarkShade50;
		}

		&:focus {
			outline: 1px solid $DarkShade50;
		}
	}
}