.horizontal-slider {
	width: 16.625rem;
	height: 20px;
	display: flex;
	align-items: center;
}

.example-track {
	height: 0.375rem;
	border-radius: 4px;

	border-radius: 3px;
}

.example-track-0 {
	border: 1px solid rgba(31, 32, 65, 0.25);
}

.example-track-1 {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.example-track-2 {
	border: 1px solid rgba(31, 32, 65, 0.25);
}

.example-thumb {
	width: 0.875rem;
	height: 0.875rem;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	outline: none;
}