@import '../../CommonStyles.module.scss';

.columns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.column {
		display: flex;
		flex-direction: column;
		padding: 2rem 0 0 0;

		&>*{
			margin-bottom: 1rem;
		}
	}
}