@import '../../../CommonStyles.module.scss';


.Btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20rem;
	height: 2.75rem;
	border-radius: 2rem;
	border: none;
	background: $GradientPurple;
	@extend %fontPropH3;
	letter-spacing: .050rem;
	font-weight: 600;
	color: #fff;
	position: relative;

	.image {
		width: 1.1rem;
		height: 1.1rem;
		background-image: url(../../../../public/arrow_forward.png);
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		right: 1rem;
	}
}