@import '../../CommonStyles.module.scss';

.wrapper {
	width: 100%;
	padding: 30px;
}

.Columns {
	height: 100%;
	@extend %flexRow;
	justify-content: space-between;

	.column {

		width: fit-content;
		height: 100%;
		@extend %flexColumn;
		align-items: flex-start;

		.DropdownRooms {
			width: 16.625rem;
		}

		&>* {
			margin-bottom: 2rem;
		}

		.text_field {
			width: 20rem;
		}

		.masked_text_field {
			width: 20rem;
		}

		.subscription_text_field {
			width: 16.6875rem;
		}

		.dateDropdown {
			width: 9.375rem;
		}

		.blockStars {
			height: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.drop_down_list{
			width: 20rem;
		}

		.btnSubmit {
			width: 20rem;
			height: 2.75rem;
		}

		.radio_btn {
			width: 13rem;
		}

		.bullet_list {
			width: 16rem;
		}
	}
}



.BtnsClickMe {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 12rem;
	width: 15rem;

	&>* {
		display: flex;
		justify-content: center;
		width: 6.1875rem;
		height: 2.75rem;
	}
}

.footer_row {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;

	.footer_column {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		&>* {
			margin-bottom: 1rem;
		}

		.shortcutIcon {
			width: fit-content;
		}
	}
}