@import '../../../CommonStyles.module.scss';

.wrapper {
	.dropDownList {
		width: 20rem;
		position: relative;

		.subTitle {
			border-radius: 5px 5px 0 0;
			border: 1px solid $DarkShade50;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-height: 2.795625rem;
			padding: 0 .5rem 0 0;

			.value {
				color: $DarkShade75;
				@extend %fontPropBody;
				padding: .8rem 0 .8rem .8rem;
				display: block;
				width: 100%;
			}
		}
	}
}