@import '../../../CommonStyles.module.scss';

.contentBody {
	display: flex;
	justify-content: space-between;
	padding: 0 9.77%;
	min-width: fit-content;

	.asideBar {
		padding: 1.8rem 0 0 0;
		max-width: 466px;

		.horizontalSlider {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 4.5rem;

			span {
				font-weight: 400;
				font-size: 12px;
				color: $DarkShade50;
			}
		}
	}

	.main {
		padding: .8rem 0 0 3.75rem;

		.items {
			padding: .35rem 0 0 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&>* {
				margin-bottom: 1.3rem;
			}
		}
	}
}