@import '../../CommonStyles.module.scss';

.header {
	display: flex;
	justify-content: space-between;
	margin: .3rem 0 1.5rem 0;

	.tittlePricePerDay {
		width: 6.3rem;
		display: flex;
		align-items: flex-end;
	}
}

.finalPrices {
	margin-bottom: 1rem;

	&>* {
		display: flex;
		justify-content: space-between;
		@extend %fontPropBody;
		color: $DarkShade75;
		margin-bottom: 1.1rem;
	}

	&>*>div {
		display: flex;
	}

}

.totalPrice {
	display: flex;
	align-items: flex-end;
	margin-bottom: 1.5rem;

	.borderDotted {
		flex: 1 1 auto;
		border: 1px dotted $DarkShade25;
		border-left: none;
		border-right: none;
		border-top: none;
	}

	.total {
		@extend %fontPropH2;
		color: $DarkShade100;
		line-height: 1rem;
	}
}