@import '../../../CommonStyles.module.scss';

.inputBtn {
	position: relative;
	display: flex;
	align-items: center;

	.btnSubmit {
		position: absolute;
		right: 1px;
		width: 2.60rem;
		height: 2.60rem;
		border-radius: 4px;
		overflow: hidden;
	}
}