@import '../../CommonStyles.module.scss';

.inputs {
	height: 9.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 0.5rem;

	.period {
		display: flex;
		justify-content: space-between;

		&>* {
			width: 9.3rem;
		}
	}
}

.BtnSubmit {
	max-width: 20rem;
}