@import '../../../CommonStyles.module.scss';

.BtnArrow {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: rgba(0, 0, 0, 0);

	.Arrow {
		font-size: 1.6em;
		font-family: Material icons;
		color: $DarkShade50;
	}

	.Tick {
		display: none;
	}
}

.BtnTick {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: rgba(0, 0, 0, 0);

	.Arrow {
		display: none;
	}

	.Tick {
		font-size: 2em;
		font-family: Material icons;
		color: $DarkShade50;
	}
}