@import './CommonStyles.module.scss';

.App {
	font-family: Montserrat;
	width: 100%;
	padding-bottom: 90px;
	height: 100%;
	@extend %flexRow;
	justify-content: space-between;
}

.column {
	width: fit-content;
	height: 100%;
	@extend %flexColumn;
	padding: 1em;
	align-items: flex-start;

	&>* {
		margin-bottom: 1rem;
	}

	.blockStars {
		height: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.BtnsClickMe {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 15em;
	height: 8em;
}

.ListCheckBoxTick {
	list-style: none;
	width: 15rem;

	&>* {
		margin-bottom: .7rem;
	}
}