// Colors
$DarkShade100: rgba(31, 32, 65, 1);
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.50);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade10: rgba(31, 32, 65, 0.1);
$DarkShade5: rgba(31, 32, 65, 0.05);

$Purple: rgba(220, 156, 255, 1);
$Green: rgba(111, 207, 151, 1);

$GradientPurple: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);


// Font-sizes
%fontPropH1 {
	font-weight: 700;
	font-size: 1.5rem;
}

%fontPropH2 {
	font-weight: 700;
	font-size: 1.1875rem;
}

%fontPropH3 {
	font-weight: 700;
	font-size: 0.75rem;

}

%fontPropBody {
	font-weight: 400;
	font-size: 0.875rem;
}

// Templates
%flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flexRow {
	display: flex;
	flex-direction: row;
}

%flexColumn {
	display: flex;
	flex-direction: column;
}

