/*=====Fonts=====*/

@import './fonts/iconfont/material-icons.css';
@import './fonts/Montserrat/static/montserrat.css';
/*================================================*/

html,
body,
#root {
	min-width: fit-content;
}

* {
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat;
}

ol,
ul {
	list-style: none;
}