@import '../../../CommonStyles.module.scss';

%row {
	display: flex;
	flex-direction: row;
}


.divRow {
	@extend %row;
	width: 100%;
	justify-content: space-between;
	@extend %fontPropBody;
	color: $DarkShade50;

	.label {
		display: inline-block;
		position: relative;
		padding: 0.0625em 0 0 2.2em;
		cursor: pointer;
		user-select: none;

		span {
			position: absolute;
			top: 0;
			left: 0;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			border: 1px solid $DarkShade25;

			&:after {
				content: '';
				position: absolute;
				display: none;
			}

			&:after {
				top: 3px;
				left: 3px;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: $GradientPurple;
			}
		}

		input {
			cursor: pointer;
			position: absolute;
			opacity: 0;

			&:checked~span {
				// background-color: #fec901;
				border: 1px solid $Purple;
			}

			&:checked~span:after {
				display: block;
			}
		}
	}
}

// .divRow {
// 	@extend %row;
// 	width: 100%;
// 	justify-content: space-between;
// 	@extend %fontPropBody;

// 	.label {
// 		@extend %row;
// 		align-items: center;

// 		span {
// 			color: $DarkShade50;
// 		}

// 		input {
// 			margin: 0 .5em 0 0;
// 			border: 1px solid #BC9CFF;
// 			border-radius: 10px;
// 			width: 1.4em;
// 			height: 1.4em;
// 			outline: none;
// 			padding: .2em;
// 			-webkit-appearance: none;
// 			-moz-appearance: none;
// 			-ms-appearance: none;
// 			appearance: none;
// 			display: inline-block;

// 			&:checked {
// 				background: $GradientPurple;
// 				background-clip: content-box;
// 			}
// 		}
// 	}

// }