@import '../../CommonStyles.module.scss';

.wrapper {
	font-family: Montserrat;
	width: 100%;
	padding: 30px;
}

.Columns {
	height: 100%;
	@extend %flexRow;
	justify-content: space-between;

	.column {
		width: fit-content;
		height: 100%;
		@extend %flexColumn;
		align-items: flex-start;

		.DropdownRooms {
			width: 16.625rem;
		}

		&>* {
			margin-bottom: 2rem;
		}

		.text_field {
			width: 20rem;
		}

		.masked_text_field {
			width: 20rem;
		}

		.subscription_text_field {
			width: 16.6875rem;
		}

		.dateDropdown {
			width: 9.375rem;
		}

		.blockStars {
			height: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.drop_down_list{
			width: 20rem;
		}

		.rich_checkbox {
			.rich_checkbox_block {
				@extend %flexColumn;
				justify-content: space-between;
				height: 7.5rem;
				width: 16rem;
			}
		}

		.btnSubmit {
			width: 20rem;
			height: 2.75rem;
		}

		.radio_btn {
			width: 13rem;
		}
	}
}



.BtnsClickMe {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 15rem;
	height: 10rem;
}

.ListCheckBoxTick {
	list-style: none;
	width: 15rem;

	&>* {
		margin-bottom: 0.9rem;
	}
}


.footer_row {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;

	.footer_column {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		&>* {
			margin-bottom: 1rem;
		}

		.shortcutIcon {
			width: fit-content;
		}
	}
}